name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
      - "!v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  create-release:
    if: github.repository_owner == 'bluurryy'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          branch: "main|v[0-9]+"
          token: ${{ secrets.GITHUB_TOKEN }}
